<div class="trending-area fix">
    <div class="container">
        <div class="trending-main">
            <app-trending></app-trending>
            <div class="row">
                <div class="col-lg-8">
                    <!-- Trending Top -->
                    <div class="trending-top mb-30">
                        <app-top></app-top>
                    </div>
                    <div class="trending-bottom">
                        <app-bottom></app-bottom>
                    </div>
                </div>
                <div class="col-lg-4">
                    <app-right></app-right>
                </div>
            </div>
        </div>
    </div>
</div>